# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/fashion_store?retryWrites=true&w=majority

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=projectlumenorfashionstore
JWT_EXPIRE=7d

# Email Configuration

# Frontend URL
FRONTEND_URL=http://localhost:3000

