MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/fashion_store?retryWrites=true&w=majority

PORT=5000
NODE_ENV=development

JWT_SECRET=projectlumenorfashionstore
JWT_EXPIRE=7d


FRONTEND_URL=http://localhost:3000

